@font-face {
  font-family: 'Neue Plak';
  src: url('~/assets/fonts/NeuePlak/NeuePlak-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Neue Plak';
  src: url('~/assets/fonts/NeuePlak/NeuePlak-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
  font-weight: 500;
}

@font-face {
	font-family: "Space Mono";
	src: url("~/assets/fonts/SpaceMono/SpaceMono-Regular.ttf");
	font-weight: 400;
}

@font-face {
	font-family: "Space Mono";
	src: url("~/assets/fonts/SpaceMono/SpaceMono-Bold.ttf");
	font-weight: 700;
}